  <tr class="nested-fields">
             <td> 
           
          <%= link_to_remove_association f do %>
            <i class="fa fa-close"></i>
          <% end %>
        
             </td>
             <td>
              <%= p.image_file_name %>
             </td> 
             <td>
                <%= p.name %>
            </td>
            <td>
              <%= p.description %>
            </td>
            <td>
              <%= p.price %>
            </td>
            <td>
               <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
        <%= f.number_field :stock, class:"form-control has-feedback-left", id: :user_fullname, placeholder:"Stock", value: p.stock, disabled: disabled %>
        <span class="fa fa-shopping-bag form-control-feedback left" aria-hidden="true"></span>
      </div>
            </td>
</tr>