<%= form_with(model: [:admin, @event] , local: true) do |form| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this @event from being saved:</h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-6 col-md-12 col-xs-12">
      <div class="col-xs-12 col-lg-10 col-md-12 col-lg-offset-1 form-group">
         <%= form.select(:user_id, User.all.map {|key| [  key.fullname, key.id]},
                     {:selected => @event.user.id,:include_blank => "Seleccione el usuario"},
                    {:class => "form-control", :id => "user_select",
                    disabled: disabled} 
                  )
                %>
      </div>
      <div class="col-xs-12 col-lg-10 col-md-12 col-lg-offset-1 form-group has-feedback">
        <%= form.text_field :name, class:"form-control has-feedback-left", id: :user_fullname, placeholder:"Nombre del evento" , disabled: disabled%>
        <span class="fa fa-glass form-control-feedback left" aria-hidden="true"></span>
      </div>
      <div class="col-xs-12 col-lg-10 col-md-12 col-lg-offset-1 form-group">
        <%= form.select(:category, Event.categories.keys {|key| [  key.name, key.id]},
                     {:selected => @event.category,:include_blank => "Seleccione el usuario"},
                    {:class => "form-control", :id => "user_select",
                    disabled: disabled} 
                  )
                %>
      </div>

      <div class="col-xs-12 col-lg-10 col-md-12 col-lg-offset-1 form-group">
        <%= form.text_area :description, class:"form-control", id: :user_fullname, placeholder:"Descripcion del evento", disabled: disabled %>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 col-xs-12">
      <div class="col-xs-12 col-lg-10 col-md-12 col-lg-offset-1 form-group">
      </div>
            <div class="col-xs-12 col-lg-10 col-md-12 col-lg-offset-1 form-group has-feedback">
        <%= form.text_field :video_link, class:"form-control has-feedback-left", id: :user_fullname, placeholder:"Enlace del video" , disabled: disabled%>
        <span class="fa fa-glass form-control-feedback left" aria-hidden="true"></span>
      </div>

      <div class="col-xs-12 col-lg-10 col-md-12 col-lg-offset-1 form-group has-feedback">
        <%= form.datetime_field :start_datetime, class:"form-control has-feedback-left", id: :user_fullname, placeholder:"Valido desde", disabled: disabled %>
        <span class="fa fa-hourglass-start form-control-feedback left" aria-hidden="true"></span>
      </div>
      <div class="col-xs-12 col-lg-10 col-md-12 col-lg-offset-1 form-group has-feedback">
        <%= form.datetime_field :end_datetime, class:"form-control has-feedback-left", id: :user_fullname, placeholder:"Valido hasta", disabled: disabled %>
        <span class="fa fa-hourglass-end form-control-feedback left" aria-hidden="true"></span>
      </div>
    </div>
  </div>
  <div class="text-center">
    <h3>Productos del Evento</h3>
    <div class="table-responsive">
      <table class="table table-hover table-striped product-table ">
        <thead style="background-image: url(/assets/banda.png); color: white">
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
          </tr>
        </thead>
        <tbody>
               <% @products.each do |p|  %>
                <td>
            <%= image_tag p.image.url(:mini), width: '50px' %>
          </td> 
                <td>
                  <%= p.name %>
                </td>
                <td>
                  <%= p.description %>
                </td>
                <td>
                  <%= p.price %>
                </td>
                <td>
                  <%= p.stock %>
                </td>
                <% end %>
        </tbody>  
      </table>    
    </div>
  </div>
 
  <div class="text-center">
    <h3>Imagenes del Evento</h3>

    <%if @event.images.any?%>
      <%@event.images.each do |image|%>
        <%= image_tag image.cover.url, size: 100, class:"img-thumbnail" %>
      <%end%>
    <% end %>

  </div>
</div>
</div>
</div>
<% end %>
