<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @ticket.stock %>
</p>

<p>
  <strong>Active:</strong>
  <%= @ticket.active %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @ticket.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @ticket.end_date %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
