<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<body style="color: #000 !important;"></body>

<div style="margin-top: 100px;">
	<center><img src="https://i.ibb.co/1MfMm7p/drinkscity.png" class="img-responsive"></center>
</div>
<br><br>
<div>

<table style="border-collapse: collapse;width: 100%; border-color: #DDD; text-align: left !important;">
	<tr>
		<th style="padding: 15px;">Foto</th>
		<th style="padding: 15px;">Producto</th>
		<th style="padding: 15px;">Cantidad</th>
		<th style="padding: 15px;">Precio</th>
	</tr>
	<tr>
		<% @order.order_items.each do |order| %>
			<tr>
				<td style="padding: 15px;"><%= image_tag (order.item.image)? '': 'product.jpg', class: 'mail-image img-responsive' %></td>
				<td style="padding: 15px;"><%= order.item.name %></td>
				<td style="padding: 15px;"><%= order.quantity %></td>
				<td style="padding: 15px;"><%= number_to_currency(order.unit_price, precision: 0, format: "%u %n c/u" ) %></td>
			</tr>
		<% end %>
	</tr>
</table>

	<br><br>

	<div style="width: 45%; float: left;">
		<ul class="list-group">
			<li style="position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd; background-color: #72D4CE !important; color: white; font-weight: bolder;">Información del vendedor</li>
			<li style="position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;"><b>Vendedor:</b> 
				<% if @order.order_items.first.item.priority == "evento" %>
					<%= @order.order_items.first.item.event.name %>
				<% else %>
					<%= @order.order_items.first.item.item.name %>
				<% end %>
			</li>

			<li style="position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;"><b>Dirección:</b> 
				<% if @order.order_items.first.item.priority == "evento" %>
					<%= @order.order_items.first.item.event.address %>
				<% else %>
					<%= @order.order_items.first.item.store.address %>
				<% end %>
			</li>
		</ul>
		<br>
		<% if @order.store.delivery %>
			<h4>Datos de entrega</h4>
			<p><strong>Recibe:</strong> <%= @order.recipient_name %></p>
			<p><strong>Dirección:</strong> <%= @order.address %></p>
		<% end %>

		<br>
		<div class="" style="background-color: #FFF; width: 220px; padding: 10px; position: absolute; margin-left:auto;margin-right:auto;left:0;right:0;">
			<div id="contentqr" ></div>
		</div>
	</div>

	<div style="text-align: center; width: 45%; float: right; margin-left: 10%;">
		<div style="padding: 3em; border: 1px solid #DDD;">
			<h2><%= number_to_currency(@order.subtotal, precision: 0, format: "%u %n" ) %></h2>
			<h1 style="color: #76D9C7;">Total</h1>
		</div>
	</div>
</div>

<center>
	<%= javascript_include_tag 'client' %>
	<script type="text/javascript">
		$('#contentqr').qrcode({
			render: 'image',
			background: '#FFF',
			fill: '#000',
			text: '<%=@order.id%>',
			minVersion: 5,
			maxVersion: 40,
			ecLevel: 'L',
			left: 0,
			top: 0,
			size: 200,
			quiet: 0,
			mode: 0,
			mSize: 0.1,
			mPosX: 0.5,
			mPosY: 0.5,
			fontname: 'sans',
			fontcolor: '#000',
			image: null
		});
	</script>
</center>