
		<!-- top tiles -->
		<div class="row tile_count text-center" style="margin-top: 100px;">
			<div class="col-md-2 col-xs-3 col-sm-3 tile_stats_count">
				<span class="count_top"> Tiendas</span>
				<div class="count"><%=@stores.count%></div>
				<span class="count_bottom">Activos</span>
			</div>
			<div class="col-md-2  col-xs-3 col-sm-3 tile_stats_count">
				<span class="count_top">Productos</span>
				<div class="count"><%=@products.count%></div>
				<span class="count_bottom">Activos</span>
			</div>
			<div class="col-md-2 col-xs-3 col-sm-3 tile_stats_count">
				<span class="count_top">Tiendas Pendientes</span>
				<div class="count green"><%=@stores.where(status: 0 ).count%></div>
				<span class="count_bottom">Esperando</span>
			</div>
			<div class="col-md-2 col-xs-3 col-sm-3 tile_stats_count">
				<span class="count_top">Canjeados</span>
				<div class="count"><%=@products_quantity%></div>
				<span class="count_bottom"> Esta Semana</span>
			</div>

			<div class="col-md-2 col-xs-3 col-sm-3 tile_stats_count">
				<span class="count_top">Eventos</span>
				<div class="count"><%=@events.count%></div>
				<span class="count_bottom"> Esta Semana</span>
			</div>
		</div>

		<style type="text/css">
			.tile_count .tile_stats_count{
				border-style: none;
			}
			.tile_count .tile_stats_count:before{
				border-style: none;
			}
		</style>
		<!-- /top tiles -->

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="dashboard_graph">

					<div class="row x_title">
						<div class="col-md-6 col-lg-6 col-xs-12 ">
							<h3>Tiendas <small>con mayor cantidad de productos</small></h3>
						</div>
						<div class="col-md-6 col-lg-6 col-xs-12">
							<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
								<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
								<span>January 6, 2018 - February 4, 2018</span> <b class="caret"></b>
							</div>
						</div>
					</div>
					<div id="chart-1" style="height: 300px"></div>

					<div class="row x_title">
						<div class="col-md-6 col-lg-6 col-xs-12">
							<h3>Tiendas <small>con mayor cantidad de ventas</small></h3>
						</div>
						<div class="col-md-6 col-lg-6 col-xs-12">
							<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
								<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
								<span>January 6, 2018 - February 4, 2018</span> <b class="caret"></b>
							</div>
						</div>
					</div>
<div id="chart-2" style="height: 300px"></div>

					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	<br>
</div>


<script type="text/javascript">
	new Chartkick.PieChart("chart-1",<%=raw @array%> , {stacked: true});
</script>
<script type="text/javascript">
	new Chartkick.ColumnChart("chart-2",<%=raw @array2%> , {stacked: true})
</script>
